body {
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(to right, rgb(8 79 137), rgb(238, 238, 245));
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(to right, rgb(25, 5, 202), rgb(238, 238, 245));
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(238, 239, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(58, 134, 235);
}

.active {
    background-color: #030338;
}

.imagen-redonda {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta el alto según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgb(20, 20, 20);
}


.imagen-redonda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    background-color: #030338;
}

h1 {
    background-color: rgb(4, 20, 90);
    padding: 10px;
    margin: 0;
    color: #e7e8ec;
}

h2 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    color: rgb(7, 7, 7);
    text-align: center;
}

div.gallery {
    margin: 10px; /* Aumenta el margen para agregar espacio entre las imágenes */
    border: 1px solid #0b1997;
    float: left;
    width: calc(33% - 20px); /* Ajusta el ancho de cada elemento para dejar espacio entre ellos */
}

div.gallery img {
    width: 100%; /* Haz que las imágenes se ajusten al 100% del contenedor */
    height: auto;
    transition: transform 0.8s;
    margin: 5px;
}

div.gallery:hover {
    border: 2px solid #11035f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.979); /* Agrega una sombra al pasar el mouse */
    transform: scale(1.3);
}

div.desc {
    padding: 35px;
    text-align: center;
}

.centrado {
    display: flex;
    justify-content: center;
}
.footer {
    background-color: #000000;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
}
