body {
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(to right, rgb(8 79 137), rgb(238, 238, 245));
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(to right, rgb(25, 5, 202), rgb(238, 238, 245));
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(58, 134, 235);
}

.active {
    background-color: #030338;
}

.imagen-redonda {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta el alto según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgb(20, 20, 20);
}


.imagen-redonda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    background-color: rgb(4, 20, 90);
    padding: 10px;
    margin: 0;
    color: #e7e8ec;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(12, 12, 12);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: #FFF;
}

td {
    border: 1px solid rgb(14, 13, 13);
    padding: 10px 20px;
}

th {
    border: 1px solid rgb(8, 8, 8);
    padding: 10px 20px;
    background-color: rgb(157, 160, 168);
}

.footer {
    background-color: #000000;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
}