body {
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(to right, rgb(8 79 137), rgb(238, 238, 245));
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(to right, rgb(25, 5, 202), rgb(238, 238, 245));
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(238, 239, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(58, 134, 235);
}

.active {
    background-color: #030338;
}

.imagen-redonda {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta el alto según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgb(20, 20, 20);
}


.imagen-redonda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
    background-color: rgb(4, 20, 90);
    padding: 10px;
    margin: 0;
    color: #e7e8ec;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: rgb(7, 7, 7);
    text-align: center;
}

#h3-1 {
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 19%;
    height: auto;
}

.image2 {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 25%;
    height: auto;
}

.article {
    float: left;
    width: 70%;
    background-color: #FFF;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
}

.footer {
    background-color: #000000;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
}

.video {
    float: left;
    max-width: 18%; 
    height: auto;
    margin: 10px 10px 0px 0px;
}
